/* h1 {
  color: rgba(127, 221, 255, 0.85);
  text-align: center;
  font-size: larger;
} */
#amir {
  /* color:rgba(110, 108, 54, 0.785);
   */
  color: rgba(64, 153, 44, 0.794);
  font-size: 3rem;
}
.aamir {
  color: aqua;
  font-style: italic;
}
